<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:replace="tpl/default :: htmlhead"/>
<body class="d-flex flex-column h-100">

<nav th:replace="tpl/default :: navbar"></nav>

<div class="container-fluid">
    <div class="row">

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse pt-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User</a>
                </li>
            </ul>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-3 mb-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h1">Admin panel</h1>
            </div>

            <div th:replace="tpl/default :: editUserForm"></div>


        </main>
    </div>
</div>

<footer th:replace="tpl/default :: htmlfooter"/>

</body>
</html>